<%- include("partials/header") %> 

<section id="about" class="about">
    <div class="container">
        <h1>About the Developer</h1>
        <div>
            <img src="img/naval.png" alt="Naval Kishor">
            <h3 class="heading-name">Naval Kishor</h3>
            <ul>
                <li>As a Database Programmer, Naval Kishor tried to attached this web application with NoSQL "MongoDB" database, Implemented CRUD (Create, Read, Update and Delete) operations for the blogs posted by the user.</li>
                <li>As a Backend Developer, Naval Kishor has worked in creating a server for this web application, Created routes (GET, POST, UPDATE, DELETE) and provided their functionality, rendered HTML pages on routes, deployed the web application on an online service provided by Heroku.</li>
            </ul>
        </div>
        <div><hr>
            <img src="img/vishal.png" alt="Vishal Kumar">
            <h3 class="heading-name">Vishal Kumar</h3>
            <ul>
                <li>As a Front End Developer, Vishal Kumar tried to make this web application more presentable and beautiful with the help of HTML, CSS, BOOTSTRAP and JavaScript.</li>
                <li>The additional work of Vishal Kumar is to test the routes after deployment and also for testing the web application.</li>
            </ul>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 
