<%- include("partials/header") %> 

<section id="contact" class="contact">
    <div class="container">
        <h1>Contact the Developer</h1>
        <div class="row">
            <div class="col-lg-6">
                <img src="img/naval.png" alt="Naval Kishor">
            </div>
            <div class="col-lg-6">
                <img src="img/vishal.png" alt="Vishal Kumar">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <i class="fab fa-github icons"></i>
                <h5><a href="https://github.com/ngujjar">github.com/ngujjar</a></h5>
            </div>
            <div class="col-lg-6">
                <i class="fab fa-linkedin-in icons"></i>
                <h5><a href="https://www.linkedin.com/in/naval-kishor-609934215/">Naval Kishor</a></h5>
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-6">
                <i class="fas fa-phone-volume icons"></i>
                <h5 style="color: red;">Currently Not Available.</h5>
            </div>
            <div class="col-lg-6">
                <i class="fas fa-envelope icons"></i>
                <h5><a href="mailto:vishal1901305@gmail.com">vishal1901305@gmail.com</a></h5>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %> 
